@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FBFBAF;
}

.fixed-width {
    width: 220px;
}

.title {
    text-align: center;
    padding: 20px 0;
    background: #91D6EE;
    border-radius: 10px;
}

.first-side {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}

.center-side {
    /* width: 75%; */
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 30px 0;
    margin-bottom: 50px;
    font-family: 'Lora', serif;
    font-weight: bold;
    /* border-top: #333333 solid 2px;
    border-bottom: #333333 solid 2px; */
}

.second-side {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}

#result {
    color: #ff0000;
    font-weight: 700;
}

.submit-side {
    width: 40%;
    margin: auto;
    /* margin-top: 50px; */
}

.submit-side button {
    padding: 0.5rem;
}